<head>
  <style>
  .invalid{
    border: 1px solid red;
  }
  
  </style>
</head>


<!--interpolation-->
<h2>{{title}}</h2>

<br>

<!--event binding-->
<button type="button" (click)="action()"> click Me</button>
<br><br>

<!--style binding-->
<div [style.width.px]="starRating" [style.overflow]="'hidden'" [style.background-color]="'yellow'">
  <div style="width: 100px" [style.color]="starColor">
    <span class="fa fa-star" ></span>
    <span class="fa fa-star" ></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
</div>


<!--class binding-->
<br><br>
<form>
<label> Enter Name:</label>
  <input type="text" name="username" [class.invalid]="true"/>
  <br>
<label >password:</label>
  <input type="password" />
  <br>
<button type="button" value="submit">submit</button>
</form>

<br><br>


<!--attribute binding-->
<label>Name:</label>
  <input type="text" name="customername" [attr.value]="customerName"/>

<br><br>


<!--property binding-->
<div [innerHTML]="title"></div>


<!--two way data binding-->
<br><br>
<label> Enter Name:</label>
  <input type="text" name="name" [(ngModel)]="customerName"/>
<br><br>
{{customerName}}
